{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'change_password.css' %}">
</head>
<body>

    <div class="container">
        <div class="form-box">
            <div class="form-header">
                <h1>Set New Password</h1>
                <p>Enter a strong new password below.</p>
            </div>
            
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="password" name="new_password" required>
                    <label for="new-password">New Password</label>
                    <span class="toggle-icon" id="new-password-icon">🔒</span>
                    <div class="underline"></div>
                </div>

                <div class="input-group">
                    <input type="password" name="confirm_password" required>
                    <label for="confirm-password">Confirm Password</label>
                    <span class="toggle-icon" id="confirm-password-icon" >🔒</span>
                    <div class="underline"></div>
                </div>

                <button type="submit" class="btn">
                    Submit
                </button>
            </form>
        </div>
    </div>

    <div class="alert-container">
        <div id="alert-box" class="alert"></div>
    </div>

</body>

<script>
    function showAlert(message, type) {
        let alertBox = document.getElementById("alert-box");
        alertBox.innerText = message;
        alertBox.className = `alert alert-${type}`;
        setTimeout(() => alertBox.style.opacity = "0", 3000);
    }
</script>
</html>
